#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

h1 {
  margin-left: 50px;
}

.wrap {
  margin: 0, auto;
  width: 700px;
}

.hidden {
  display: none;
}

#start {
  margin-top: 50px;
  width: 150px;
  text-align: center;
  margin-left: 50px;
}

img {
  margin-top: 10px;
  margin-bottom: 25px;
  height: auto;
  width: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
