.body {
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  /* background-image: url("/images/WelcomeToThePartyPal.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-size: cover;
  padding: 50px;
}

h1 {
  margin-left: 50px;
}

.wrap {
  margin: 0, auto;
  width: 700px;
}

.hidden {
  display: none;
}

.quiz-description {
  color: black;
  font-size: 50px;
}
#start {
  margin-top: 50px;
  width: 200px;
  text-align: center;
  margin-left: 50px;
  border: 2px solid green;
  font-size: 26px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#start:hover {
  margin-top: 50px;
  width: 200px;
  text-align: center;
  margin-left: 50px;
  border: 2px solid red;
  font-size: 26px;
  border-radius: 5px;
}

.question-image {
  margin-top: 10px;
  margin-bottom: 25px;
  height: 400px;
  width: auto;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.quiz-question {
  text-align: left;
  width: 600px;
}
